<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="BaseAPI:Library_Tests">
            <directory>tests/Base/Library/</directory>
        </testsuite>
        <testsuite name="BaseAPI:Definition_Tests">
            <directory>tests/Base/Definitions/</directory>
        </testsuite>
        <testsuite name="BaseAPI:Object_Tests">
            <directory>tests/Base/Objects/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="IS_UNIT_TESTING" value="1"/>
    </php>
    <coverage ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true"
    />
    <source>
        <include>
            <directory>src/Base</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
